@import './_var.scss';

$baseclr: #121212;
$blackclr: #ffffff;
$whiteclr: #121212;
$blurdarkclr: #1E1E1E;
$blurdarkclrT: rgba(30, 30, 30, 0.8);
$borderclr: rgba(255, 255, 255, 0.1);
$greyclr: rgba(200, 200, 200, 0.5);
$greybg: rgba(18, 18, 18, 1);
$textclr: #e0e0e0;
$cardbgclr: #1E1E1E;
$cardbgclrtbl: linear-gradient(136.3deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 118.86%);
$inputbgclr: #2A2A2A;
$hoverbgclr: #3399FF;
$green: #6CC5AA;
$redclr: #dd2f3e;
$greenclr: #67DD30;
$greenclr1: #4CAF50;
$yellowclr: #3399FF;
$tablebg: #1E1E1E;
$darkblue: #121212;
$darkbluedrop: #3399FF;
$darkblue1: #1E1E1E;
$navyblue: #025A8E;
$lightblue: #00e1ff;
$redlightbgclr: rgba(255, 118, 118, 0.2);
$gradientbasebg: #121212;
$radialgradientbg: radial-gradient(66.15% 66.07% at 50% 46.9%, rgba(30, 30, 30, 0.00) 0%, #121212 100%);
$gradientclr: linear-gradient(180deg, #F5DF71 0%, #139C94 100%);
$gradientcardbg: #1E1E1E;
$gradientboxclr: linear-gradient(134.33deg, rgba(255, 255, 255, 0.05) 0%, rgba(49, 143, 161, 0.3) 98.89%);
$gradienticonclr: linear-gradient(179deg, #FAE170 -65.02%, #6CC5AA 115.91%);
$gradienticonclr1: linear-gradient(197deg, #03E2A0 -22.48%, #061D39 94%);
$gradientinputbg: linear-gradient(90deg, #2A2A2A 34.07%, rgba(8, 31, 58, 0.00) 137.14%);
$gradientinputactive: linear-gradient(90deg, #FAE170 34.07%, rgba(8, 31, 58, 0.00) 137.14%);
$gradientclrbox1: linear-gradient(7deg, #03E2A0 10.84%, #032043 138.54%);
$gradientclrbox2: linear-gradient(180deg, #CEB234 -13.76%, #0E986E 111.36%);
$gradientclrbox3: linear-gradient(151deg, #48D39D -6.83%, #CFE448 98.39%);
$gradientclrbox4: linear-gradient(136.3deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 118.86%);
