@import '../../../Assets/theme/_mixins.scss';

.claimbtn {
    display: flex;
    background-color: transparent;
    align-items: center;
    color: $yellowclr;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
    transition: all ease-in-out 0.3s;
    border: none;
    padding: 0;
}