@import "../../../Assets/theme/_var.scss";

.commonSearch {
    display: flex;
    position: relative;

    .searchIcon {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .from-control {
        padding-left: 4.5rem;
    }
}