@import './Assets/theme/_mixins.scss';
@import './Assets/theme/var';
@import './Assets/theme/_dark.scss';

#dark .bg-color {
background: #242426;
}


custom-p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.38px;
  text-align: center;
  padding: 5rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

  .App-logo,
  .nav-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 78px);
  text-align: center;
}

.App-link {
  color: #0D9DDC;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}